.quantity {
  // position: relative;
  display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 25px;
  height: 42px;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 800;
  color: $white;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  height: 42px;
}

.quantity-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 0.5;
  }
}

.quantity-button.quantity-up {
  position: absolute;
  top: 50px;
  right: 4px;
}

.quantity-button.quantity-down {
  position: absolute;
  top: 50px;
  right: 30px;
}
