@media (max-width: 1440px) {
  // -----------------------------------------------------------1440
  // Header------------------------------------------------Header
  .logo__image {
    width: 100px;
  }

  .header__title {
    font-size: 130px;
    line-height: 108px;
    top: 10px;
    left: 110px;
  }

  .menu {
    padding-top: 10px;
  }

  .header__search {
    padding-bottom: 8px;
  }

  .header__date {
    font-size: 60px;
    span {
      font-size: 14px;
      padding-top: 0;
      margin-bottom: 5px;
    }
  }

  .header__arrows {
    left: 130px;
  }
  // -----------------------------------------------------------1440
  // Surf------------------------------------------------------Surf
  .surf-box__inner {
    min-height: 650px;
  }
}

@media (max-width: 1366px) {
  // -----------------------------------------------------------1366
  // ----------------------------------------------------------Shop
  .shop-slider__content {
    padding-left: 20px;
  }

  .shop-slider {
    padding: 0 0 0 20px;
  }

  .shop-slider__inner {
    padding-right: 40px;
    padding-left: 20px;
  }
}

@media (max-width: 1250px) {
  // -----------------------------------------------------------1250
  // Surf------------------------------------------------------Surf
  .slider-map {
    max-width: 1000px;
    min-height: 515px;
  }

  .slider-map .slick-list {
    min-height: 515px;
  }

  .slider-dots__circle {
    width: 16px;
    height: 16px;
    box-shadow: 0px 0px 35px rgba($green, 0.837777);
  }

  .slider-dots__content::before {
    bottom: -29px;
    left: 49.4%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .slider-dots--1 {
    top: 270px;
    left: 33px;
    .slider-dots__content::before {
      left: -2px;
    }
  }

  .slider-dots--2 {
    top: 240px;
  }

  .slider-dots--3 {
    top: 258px;
  }

  .slider-dots--4 {
    top: 410px;
    left: -32px;
  }

  .slider-dots--5 {
    top: 174px;
    left: -53px;
  }

  .slider-dots--6 {
    top: 456px;
    left: -92px;
  }

  .slider-dots--7 {
    top: 317px;
    left: -81px;
  }

  .slider-dots--8 {
    top: 400px;
    .slider-dots__content::before {
      left: 59.4%;
    }
  }
}

@media (max-width: 1366px) {
  // --------------------------------------------------------1366
  // Header------------------------------------------------Header
  .header__aside {
    position: absolute;
    border-right: none;
    height: 108px;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    text-align-last: left;
    display: flex;
  }

  .header__title {
    top: 180px;
    left: 10px;
  }

  .menu {
    padding-top: 0;
  }

  .menu__list {
    text-align: center;
    li {
      display: inline-block;
    }
    a {
      padding: 15px;
    }
  }

  .header__search {
    padding: 33px 15px 15px;
  }

  .header__date {
    padding: 15px;
  }

  .header__location {
    margin-top: 42px;
    padding-right: 20px;
  }

  .header__arrows {
    left: 40px;
    bottom: 30px;
  }

  .header__map {
    svg {
      width: 500px;
      height: 250px;
    }
  }

  .slider-item__info-title {
    margin: 0 0 24px 0;
    font-size: 65px;
  }

  .slider-item__info-suptext {
    margin-bottom: 0;
  }

  .slider-item__info-text {
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .slider-arrows {
    top: 20px;
    right: 20px;
  }

  .slider-arrows__left {
    right: 60px;
  }

  .menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .slider-dotshead {
    right: 20px;
  }

  // --------------------------------------------------------1366
  // -------------------------------------------------------surf
  .surf {
    padding: 100px 0;
  }

  // --------------------------------------------------------1366
  // ---------------------------------------------------holder-1
  .holder {
    padding: 100px 0;
    background-size: 220px;
  }

  .holder.sleep {
    background-size: 150px;
  }

  .sleep {
    .holder-slider__descr {
      background-size: 460px;
    }
  }

  .holder-slider__descr {
    padding: 160px 0 0 20px;
    background-size: 600px;
  }

  .holder .slider-arrows {
    right: 80px;
  }

  .holder .slider-arrows__left {
    right: 125px;
  }
}

@media (max-width: 1180px) {
  // --------------------------------------------------------1180
  // ---------------------------------------------------holder-1
  .descr {
    padding: 130px 0 0 0;
  }

  .holder-slider__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 720px;
    margin: 0 auto;
  }
  .holder-slider__info-item {
    min-height: 160px;
    margin-bottom: 10px;
  }

  .holder-slider__info-title {
    font-size: 32px;
  }
  .holder-slider__info-subtitle {
    letter-spacing: 4px;
  }
  .holder-pricing__span {
    right: 60px;
    font-size: 12px;
    letter-spacing: 3.25px;
  }

  .holder-slider__subtitle {
    padding: 0 20px 0 0;
  }
  .holder .slider-arrows {
    top: 80px;
    right: 20px;
  }

  .holder .slider-arrows__left {
    right: 60px;
  }

  .shop-slider__info {
    .descr {
      padding: 0;
    }
  }
}

@media (max-width: 1040px) {
  // --------------------------------------------------------1040
  // Header------------------------------------------------Header
  .header__aside {
    width: 100%;
  }

  .header__title {
    top: 120px;
    left: 110px;
    opacity: 0.15;
  }

  .header__arrows {
    display: none;
  }

  .header__search {
    padding: 40px 0 15px 15px;
  }

  .slider-arrows {
    top: 42px;
    z-index: 11;
  }

  .slider-item__info {
    right: 20px;
    bottom: 50px;
  }

  .slider-item__info-suptext {
    margin-bottom: 5px;
  }

  .slider-item__info-text {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .headline-left {
    font-size: 16px;
    padding-left: 65px;
    &::before {
      width: 50px;
    }
  }

  .slider-item__info-title {
    font-size: 55px;
    margin-bottom: 20px;
  }

  .header .slider-dotshead {
    right: 0;
    bottom: 10px;
    width: 874px;
  }

  .logo {
    z-index: 2;
  }

  // Бургер меню
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.7);
    transition: all 0.5s ease-in;
    transform: translateX(-100%);
    &.active {
      transform: translateX(0);
    }
    .menu__list {
      display: flex;
      flex-direction: column;
    }
    .menu__link {
      padding: 0;
    }
  }
  // -----------------------------------------------------------1040
  // Surf------------------------------------------------Surf
  .surf {
    background-size: 120px;
  }

  .surf__subtitle {
    padding-right: 20px;
  }
  // -----------------------------------------------------------1040
  // Заголовки---------------------------------------------Заголовки
  .title {
    h3 {
      font-size: 55px;
      &::after {
        width: 58px;
      }
    }
    span {
      font-size: 160px;
      margin-bottom: 100px;
    }
  }

  // -----------------------------------------------------------1040
  // ----------------------------------------------------------Shop
  .shop-slider__inner {
    display: grid;
    grid-template-columns: 1fr 270px;
  }

  .shop-slider__info {
    padding: 0;
    margin-bottom: 40px;
    .descr {
      padding: 0;
      margin: 0;
    }
  }

  .shop-slider__price {
    margin: 10px 0 20px;
  }

  .shop-extras {
    margin-top: -300px;
  }

  .surfboard__content {
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    box-shadow: 0px 0px 15px rgba($color: $green, $alpha: 0.6);
    top: 26px;
    left: -140px;
    width: 260px;
    font-size: 18px;
    &::before {
      display: none;
    }
  }

  .surfboard__position--3 .surfboard__content {
    padding-left: 0;
    padding-right: 0;
    top: -70px;
    left: -40px;
  }

  // -----------------------------------------------------------1040
  // ---------------------------------------------------------Footer
  .footer {
    padding: 120px 0 40px 0;
  }
}

@media (max-width: 1102px) {
  // -----------------------------------------------------------1102
  // Surf------------------------------------------------Surf
  .slider-dots {
    position: static;
  }

  .slider-dots__content,
  .slider-dots--8 .slider-dots__content {
    width: 285px;
    padding: 28px 31px 0 32px;
    transform: translateX(0);
  }

  .slick-current {
    .slider-dots__content {
      box-shadow: 0px 0px 15px rgba($green, 0.837777);
      background-color: rgba($color: rgb(112, 112, 112), $alpha: 0.1);
    }
  }

  .slider-map {
    background-image: none;
    max-width: 100%;
    min-height: 300px;
    .slick-list {
      min-height: 300px;
    }
  }

  .slider-dots__circle {
    display: none;
  }

  .slider-dots__content {
    display: block;
    &::before {
      display: none;
    }
  }

  .surf {
    .slick-track {
      min-height: 300px;
    }
  }
}

@media (max-width: 980px) {
  // ---------------------------------------------------------980
  // Header------------------------------------------------Header
  .slider-dotshead {
    display: none;
  }
}

@media (max-width: 767px) {
  // ---------------------------------------------------------767
  // Header------------------------------------------------Header
  .header__title {
    font-size: 80px;
    line-height: 65px;
    width: 250px;
  }

  .header__map {
    svg {
      width: 320px;
      height: 160px;
    }
  }
  // ------------------------------------------------------767
  // Surf------------------------------------------------Surf
  .surf,
  .holder {
    padding: 80px 0;
  }

  .surf-slider {
    padding-top: 60px;
  }

  .surf-slider .slider-arrows {
    top: 10px;
  }

  // ------------------------------------------------------767
  // -------------------------------------------------Holder-1
  .holder-slider__descr {
    padding: 0 0 0 20px;
    background-size: 400px;
    min-height: 252px;
    // margin-top: -320px;
  }
  .holder {
    background-image: none;
    span {
      margin-bottom: 0;
    }
  }

  .holder-slider__info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin: 0 0 30px 0;
    width: auto;
  }

  .holder-slider__info-item {
    min-height: 60px;
    text-align: left;
  }

  .holder-slider__info-title {
    font-size: 26px;
    max-width: 340px;
    padding: 0;
  }

  .holder-slider__info-subtitle {
    position: static;
    width: auto;
    height: auto;
    text-align: left;
    transform: rotate(0);
  }

  .holder-pricing__span {
    right: 0;
    left: 40px;
    font-size: 10px;
  }

  // holder-2
  .holder.sleep {
    background-image: none;
  }

  .sleep .holder-slider__descr {
    background-size: 230px;
    background-position-y: 82px;
  }

  .descr {
    padding: 0;
    margin-bottom: 40px;
  }

  .descr__head {
    font-size: 32px;
    padding: 0;
    & img {
      top: -50px;
      right: 75px;
    }
  }

  .descr__head .descr__head-img {
    left: -14px;
    top: 30px;
  }

  .headline-right {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 4px;
    padding-right: 40px;
    &::before {
      width: 34px;
    }
  }

  .quantity-button.quantity-up {
    right: auto;
    left: 25px;
  }

  .quantity-button.quantity-down {
    right: auto;
  }

  .quantity input {
    width: 15px;
    height: 30px;
    font-size: 26px;
  }

  // ---------------------------------------------------------767
  // -------------------------------------------------------Shop
  .shop-slider__inner {
    grid-template-columns: 1fr;
  }

  .surfboard {
    justify-self: center;
  }

  .shop-extras {
    margin-top: 40px;
    justify-self: center;
  }

  .surfboard__content {
    left: -220px;
    width: 295px;
    font-size: 13px;
  }

  .surfboard__position--2 .surfboard__content {
    left: -39px;
  }

  .surfboard__position--3 .surfboard__content {
    top: -43px;
    left: -87px;
  }
}

@media (max-width: 550px) {
  // ---------------------------------------------------------550
  // Header------------------------------------------------Header
  .header__aside {
    display: block;
    text-align: center;
    padding-right: 0;
    height: 100vh;
    width: auto;
  }

  .logo {
    padding-top: 100px;
  }

  .header__search {
    padding: 15px 0 5px 36px;
  }

  .header__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: 50px;
    line-height: 45px;
    span {
      font-size: 12px;
    }
  }

  .header__location {
    margin-top: 0;
    padding: 0 0 0 28px;
    &::before {
      left: 10px;
    }
  }

  .menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
  }

  .slider-item__info-title {
    font-size: 36px;
    margin-bottom: 6px;
  }

  .headline-left {
    font-size: 14px;
    padding-left: 40px;
    margin-bottom: 0;
    &::before {
      width: 30px;
    }
  }

  .slider-item__info-text {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .slider-arrows {
    right: 12px;
  }

  .slider-arrows__left {
    right: 46px;
  }

  .menu {
    padding: 0;
    z-index: 2;
    background-color: rgba($color: #000000, $alpha: 1);
  }

  // 550---------------------------------------------------550
  // Surf------------------------------------------------Surf
  .surf,
  .holder {
    padding: 50px 0;
  }

  .surf {
    background-size: 50px;
    background-position: right 180px;
  }
  .subtitle__head {
    font-size: 32px;
    padding: 0;
  }

  // 550---------------------------------------------------------550
  // Заголовки---------------------------------------------Заголовки
  .title {
    h3 {
      right: 0;
      font-size: 46px;
      &::after {
        width: 49px;
      }
    }
    span {
      font-size: 100px;
      transform: translateX(-10%);
    }
  }
}

@media (max-width: 425px) {
  // -----------------------------------------------------------425
  // surf-----------------------------------------------------surf
  .slider-map .slider-dots__content,
  .slider-map .slick-current .slider-dots__content {
    width: 250px;
    padding: 28px 15px 0;
  }

  .subtitle__head {
    font-size: 28px;
  }

  // -----------------------------------------------------------425
  // ---------------------------------------------------------shop
  .shop-slider {
    padding: 0;
  }

  .shop-slider__inner {
    padding: 0 0 0 20px;
  }

  .shop {
    .descr__head {
      font-size: 26px;
    }
    .slider-arrows {
      top: 80px;
    }
  }

  .shop-extras-title,
  .shop-extras__img {
    margin: 0 0 16px 0;
  }

  .shop-extras__name {
    margin: 10px 0 0 0;
  }

  .shop-extras__box:not(:last-child) {
    margin-right: 20px;
  }

  .footer {
    padding: 80px 0 40px 0;
  }
}

@media (max-width: 380px) {
  // -----------------------------------------------------------380
  // Header------------------------------------------------Header
  .header__title {
    width: 150px;
    font-size: 60px;
    line-height: 45px;
  }

  .slider-item__info-title {
    font-size: 26px;
  }

  .slider-item__info-text {
    font-size: 20px;
  }

  .headline-left {
    font-size: 12px;
    line-height: 12px;
    padding-left: 26px;
    &::before {
      width: 16px;
    }
  }
  // 380---------------------------------------------------380
  // Surf------------------------------------------------Surf
  .subtitle__head {
    font-size: 22px;
  }

  // 380---------------------------------------------------380
  // ------------------------------------------------Holder1,2
  .title span {
    font-size: 90px;
  }

  .btn {
    font-size: 30px;
  }

  .quantity input {
    font-size: 22px;
  }

  .holder-slider__descr {
    background-size: 330px;
  }

  .holder-slider__info-item {
    min-height: 46px;
  }

  .holder-slider__info-title {
    font-size: 22px;
  }

  .holder-slider__info-subtitle {
    font-size: 16px;
  }

  .holder-pricing__span {
    left: 22px;
  }
}

@media (max-width: 375px) {
  // -----------------------------------------------------------375
  // surf-----------------------------------------------------surf
  .slider-map .slider-dots__content,
  .slider-map .slick-current .slider-dots__content {
    width: 200px;
    padding: 28px 10px 0;
  }
}
