@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/FiraSans/FiraSans-Thin") format("woff2"),
    url("../fonts/FiraSans/FiraSans-Thin.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/FiraSans/FiraSans-Light.woff2") format("woff2"),
    url("../fonts/FiraSans/FiraSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FiraSans/FiraSans-Regular.woff2") format("woff2"),
    url("../fonts/FiraSans/FiraSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/FiraSans/FiraSans-Medium.woff2") format("woff2"),
    url("../fonts/FiraSans/FiraSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/FiraSans/FiraSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/FiraSans/FiraSans-ExtraBold.woff") format("woff");
}
