body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: $white;
  background-color: $black;
  text-transform: uppercase;
  min-width: 320px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $white;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.headline-left,
.headline-right {
  position: relative;
  display: inline-block;
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: 7.33333px;
  opacity: 0.5;
  &::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    background-color: $white;
    top: 50%;
  }
}

.headline-left {
  padding-left: 103px;
  &::before {
    left: 0;
  }
}

.headline-right {
  padding-right: 103px;
  &::before {
    right: 0;
  }
}

.surf,
.holder {
  padding: 160px 0 120px;
}

.holder {
  padding-bottom: 265px;
  margin-bottom: 35px;
}

.title {
  div {
    position: relative;
    display: inline-block;
    font-weight: 800;
    font-size: 200px;
    color: rgba($color: #ffffff, $alpha: 0.02);
    transform: translateX(-50px);
  }
  span {
    display: inline-block;
  }
  h3 {
    position: absolute;
    top: 0;
    right: -16px;
    color: $white;
    font-size: 80px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: $green;
    }
  }
}

.subtitle {
  display: inline-block;
  text-align: right;
  &__head {
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;
    span {
      font-weight: 100;
    }
  }
}

.descr {
  display: inline-block;
  padding-left: 5px;
  &__head {
    font-weight: 800;
    font-size: 40px;
    span {
      font-weight: 100;
    }
  }
}

.descr__head {
  position: relative;
  padding-right: 75px;
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
  .descr__head-img {
    position: absolute;
    left: 210px;
    top: -5px;
  }
}

// В секции Surf в карточках
.btn {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  span {
    position: relative;
    display: inline-block;
    padding: 17px 57px 15px 17px;
    margin-left: 19px;
    background-color: $green;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -10px;
      width: 20px;
      height: 1px;
      background-color: $white;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 17px;
      width: 25px;
      height: 21px;
      background-image: url(../img/arrows-right.svg);
      transform: translateY(-50%);
    }
  }
}
